doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascript/jquery/jquery.js')
    script(src='/javascript/easyxdm/src/easyXDM.debug.js')
    script(src='/javascript/consumer.js')
  body
    block content
