link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascript/jquery/jquery.js')
script(src='/javascript/easyxdm/src/easyXDM.debug.js')
script(src='/javascript/provider.js')

h1= text

button#provider-button click me
