body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

iframe {
    height: 100%;
}

#popup {
    width: auto;
    height: auto;
    box-shadow: 0 0 7px #999;
    position: absolute;
    top: 30%;
    left: 30%;
    display: none;
}
